<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% block home %}
   {% endblock %}
   {% block login %}
   {% endblock %}
   {% block post_login_redirect %}
   {% endblock %}
   {% block students %}
   {% endblock %}
   {% block professors %}
   {% endblock %}
   {% block add_student %}
   {% endblock %}
   {% block edit_student %}
   {% endblock %}
   {% block add_professor %}
   {% endblock %}
   {% block edit_professor %}
   {% endblock %}
   {% block subject_list %}
   {% endblock %}
   {% block add_subject %}
   {% endblock %}
   {% block edit_subject %}
   {% endblock %}
   {% block assign_subject_professor %}
   {% endblock %}
   {% block upisni_list %}
   {% endblock %}
   {% block professor_subjects %}
   {% endblock %}
   {% block enrolled_students_list %}
   {% endblock %}
   {% block edit_subject_status %}
   {% endblock %}
   {% block subject_status_list %}
   {% endblock %}
   {% block view_student_status %}
   {% endblock %}
   {% block view_student_status_ne %}
   {% endblock %}
</body>
</html>